.container {
  background-image: linear-gradient(lightblue, white);
}
 .jumbotron {
  padding: 5px 3px 5px 3px;
  margin: 4% 2%;
}
 .centerQuestion {
  text-align: center;
  margin: 55px auto;
  width: 210px;
  padding: 20px;
}
label {
  padding-bottom: 14px;
  font-size: 20px;
}
 h2, h5 {
  font-family: 'Baloo Bhai', cursive;
  text-align: center;
}

.centerQuestion {
  text-align: center;
  margin: 3% auto;
  width: 400px;
  padding: 10px;
}

label {
  padding-bottom: 14px;
  font-size: 15px;
  text-align: right;
}

 .well {
  margin-top: 20px;
  display: none;
  text-align: center;
  margin: 5px auto;
  width: 50%;
  padding: 20px;
 }
 p {
  font-size: 20px;
  font-family: 'Baloo Bhai', cursive;
}
 #answer {
  font-size: 16px;
  font-style: italic;
}
