
/* header */

.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 20px;
  line-height: 150px;
  text-align: center;
}

.header a {
  padding: 12px;
  color: white;
  font-variant: small-caps;
}

.logo {
  margin-bottom: 25px;
}

.header a.menu:hover {
  margin-top: 25px;
  background-color: white;
  color: red;
  font-variant: small-caps;
  padding: 3px 12px;
  border: none;
  border-radius: 25px;
  text-decoration: none;
}

.header a.active {
  padding-bottom: 2px;
  border-bottom-width: 2px;
  border-bottom-style: inset;
  color: white;
  padding: 3px 12px;
  }

.menu {
  margin: 5px;
}

.header-right {
  float:right;
  margin-right: 10%;
}

.header-left {
  float:left;
  margin-left: 10%;
}

@media screen and (max-width:1160px) {
  .header a {
    float: none;
    margin-left: 5px;
    padding: 0px;
  }
}

/* Background Image Styling */

div.orderSection {
  background: url("../img/pizza.jpg");
  background-color: white;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  text-align: center;
  /* opacity: 0.5; */
}

#getCostFormButton {
  margin: 25% 40%;
  font-variant: small-caps;
  font-size: 60px;
}

/* Container Styling */

.container {
  /* width: 500px; */
  margin-top: 150px;
  margin-left: 10%;
  margin right: 20%;
  position: fixed;
}

#pizzaOrderDetails {
  position: fixed;
  width: 380px;
  margin-left: 35%;
  text-align: left;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding-right: 40px;
  padding: 30px;
}

.panel {
  width: 300px;
  margin: 20px 0px 20px 20px;
}

#orderInput, #pizzaOrderCost, #pizzaOrderDetails, #congratulationsWell, #orderSection {
  display: none;
}

#toppingQuestion {
  overflow: hidden;
  position: sticky;
  float: center;
  margin-top: 10px;
  padding: 5px 10px 5px 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

input {
  text-align: center;
}

#customerAddress {
  width: 400px;
}
#customerStreet {
  width: 300px;
  margin-left: 15px;
}

#customerCity, #customerState {
  width: 150px;
  margin: 0px 15px 0px 15px;
}

#addressDetailsHeader {
  margin-bottom: 20px;
}

#enterAddress {
  margin-top: 25px;
  text-align: center;
}

#congratulationsWell {
  position: relative;
  background-color: #FFDE76;
  text-align: center;
  padding: 10px 20px;
}

footer {
  width: 100%;
  background-color: black;
  padding: 2%;
  color: white;
}

h3#visit {
  padding-bottom: 15px;
}

#orderNowButtonFrontPage {
  margin-top: 30px;
  border: none;
  border-radius: 15px;
}

.fa {
  padding: 15px;
  font-size: 19px;
  color: white;
}

.fa:hover {
  color: red;
  text-decoration: none;
}
