#player1Screen, #player2Screen, #oopsScreen1, #oopsScreen2, #winnerScreen, #switchPlayer1, #switchPlayer2, #scoreboard, #homeScreen {
  display: none;
}

.btn {
  margin-bottom: 30px;
}

#rowCenter {
  margin-left: 9.5%;
}

.well {
  margin: 10px;
  text-align: center;

}

h1, #startScreen, #player1Screen, #player2Screen, #player1TotalScore, #player2TotalScore, #homeScreen, #winnerScreen {
  text-align: center;
}

#player1Screen {
  color: #1755b7;
}

#player2Screen {
  color: #c91821;
}

#homeScreen {
margin-top: 50%;
}
